.about{
    background-color: #16816f;    
}

.about__wrapper{
    display: flex;
    justify-content: center;
}

.about__img{
    position: relative;
    top: 62px;
    right: 190px
}

.about__content{
    margin-left: -48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about__title{
    font-family: Muli;
    font-size: 55px;
    line-height: 60px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;  
    max-width: 595px;
    margin-top: -15px;
}

.about__span::after{
    content: " ";
    background-image: url("../images/line.png");
    width: 450px;
    height: 13px;
    position: absolute;
    left: 0px;
    top: 65px;
}

.about__span{
    color: #cae941;
    position: relative;
}

.about__list{
    padding: 40px 0 0 38px;
}

.about__item{
    font-family: Muli;
    font-size: 21px;
    line-height: 44px;
    font-weight: 800;
    color: #ffffff;   
    position: relative;
}

.about__item::before{
    content: "";
    background-image: url("../images/item.png") ;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -37px;
    top: 12px;
}

.about__item-opacity{
    opacity: 0.5;
    font-weight: 400;
}

.about__btn {
    width: 382px;
    height: 63px;
    border: 2px solid #f8b231;
    line-height: 22px;
    margin-top: 40px;
    padding-left: 30px; 
    background-color: #158270;
    text-align: left;
}

.about__btn::after{
    content: "";
    background-image: url("../images/arrow.png");
    width: 30px;
    height: 16px;
    position: absolute;
    right: 38px;
    top: 21px;
}