.blog {
    margin-bottom: 185px;

    &__conteiner {
        max-width: 1210px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    &__inner {
        display: flex;
        align-items: center;
    }
    
    &__img {
        margin-top: 56px;
    }
    
    &__wrap {
        margin-left: 60px;
    }
    
    &__subtitle {
        font-family: Muli;
        font-size: 30px;
        line-height: 40px;
        font-weight: 800;
        letter-spacing: -0.02em;
        color: #f2612d;
        position: relative;
        margin-top: 185px;
        &::before {
            content: "";
            background-image: url("../images/line-blog.png");
            position: absolute;
            width: 687px;
            height: 12px;
            left: -62px;
            top: -70px;
        }
    }
    
    &__data {
        font-family: "Muli";
        font-size: 10px;
        line-height: 35px;
        font-weight: 400;
        color: #1e1e1e;
        display: block;
        margin-bottom: 28px;
    }
    
    &__text {
        max-width: 415px;
        margin: 0 auto;
    }
    
    &__link {
        font-weight: 800;
        font-style: italic;
        position: relative;
        &::after {
            content: "";
            background-image: url("../images/arrow-blog.png");
            position: absolute;
            width: 30px;
            height: 16px;
            right: -45px;
            bottom: 0px;
            background-repeat: no-repeat;
        }
    }

}

