.information__title{
    font-family: Muli;
    font-size: 26px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 30px;
}

.information__list{
    font-family: Muli;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #6d450c;
    list-style: none;
}

.information__link {
    text-decoration: none;
    line-height: 35px;
}