.instagram {
    margin-bottom: 10px;

    &__title {
        font-family: "Muli";
        font-size: 24px;
        line-height: 40px;
        font-weight: 800;
        letter-spacing: -0.02em;
        color: #0aa566;   
        display: flex;
        justify-content: center;
        &::before {
            content: "";
            background-image: url("../images/insta-green.png");
            position: relative;
            width: 26px;
            height: 26px;
            left: -10px;
            top: 5px;
        }
    }
    
    &__box{
        display: flex;
        padding-top: 45px;  
    }
    
    &__card{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            background-image: url("../images/insta-white.png");
            width: 26px;
            height: 26px;
            right: 12px;
            bottom: 15px;
        }
    }

    
    &__img{
        height: auto;
        object-fit: cover;
    }
}

