.story {
    margin-bottom: 158px;

    &__inner {
        display: flex;
        justify-content: center;
        background-color: #ffffff;
    }
    
    &__box{
        padding-top: 136px;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        position: relative;
    }
    
    &__text {
        margin-top: 43px;
        max-width: 452px;
    }
    
    &__btn {
        width: 304px;
        height: 63px;
        background-color: $accentColor;
        font-size: 20px;
        line-height: 22px;
        margin: 46px 12px 0;
        text-align: left;
        padding-left: 30px;
        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/arrow.png");
            width: 30px;
            height: 16px;
            right: 39px;
            top: 24px;
        }
    }
    
    &__content{
        position: relative;
        margin-left: 220px;
        &::before {
            content: "";
            background-image: url("../images/stamp.png");
            position: absolute;
            width: 290px;
            height: 216px;
            left: -161px;
            top: 20px;
        }
    }
    
    &__img{
        margin-left: 1px;
    }

}

