.testimonials {
    margin-bottom: 100px;

    &__conteiner {
        background-color:#662f1a;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::after {
            content: "";
            background-image: url("../images/dots.png");
            position: absolute;
            width: 410px;
            height: 301px;
            right: 41px;
            top: -82px;
        }    
    }
    
    &__title{
        text-align: center;
        padding-top: 117px;
    }
    
    &__title-span{
        color: #f2612d;
    }
    
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 150px 0 202px;
        flex-wrap: wrap-reverse;
        position: relative;
        &::after {
            content: "";
            background-image: url("../images/sarah.png");
            position: absolute;
            width: 760px;
            height: 148px;
            right: 130px;
            top: -56px;
            z-index: 1;
        }
    }
    
    &__box{
        text-align: center;
        margin: 22px 59px 0 0;
    }
    
    &__text{
        color: #ffffff;
        max-width: 410px;
    }
    
    &__user{
        line-height: 45px;
        font-weight: 600;
        font-style: italic;
        color: #f7ae3b;
    }
    
    &__user-icon {
        z-index: 2;
        margin-top: -23px;
    }
    
    &__arrow-left {
        position: relative;
        width: 200px;
        background-color: transparent;
        border: none;   
        &::before {
            position: absolute;
            content: "";
            background-image: url("../images/arrow-left.png");
            width: 30px;
            height: 16px;
            left: 30px;
            top: -95px;
        }
    }
    
    &__arrow-right {
        position: relative;
        background-color: transparent;
        border: none;
        &::after {
            content: "";
            background-image: url("../images/arrow.png");
            position: absolute;
            width: 30px;
            height: 16px;
            right: 14px;
            top: -95px;
        }
    }
    
}

