* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {outline: none;}
a :focus, a :active {outline: none;}
button {border: none;}

nav,footer,header,aside{display: block;}

body{
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Muli-Regular", monospace;
    overflow-x: hidden;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li{list-style: none;}
a{font-family: inherit; color: inherit; font-size: inherit;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

@font-face {
    font-family: "Muli-bold";
    src: url("../fonts/Muli-Bold.ttf") format("true type");
    font-weight: 700;
    font-display: swap;
} 

@font-face {
    font-family: "Muli-ExtraBold";
    src: url("../fonts/Muli-Bold.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Muli-Italic.ttf";
    src: url("../fonts/Muli-Italic.ttf") format("true type");
    font-display: swap;
}

@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/Muli-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url("../fonts/Muli-Semi-BoldItalic.ttf") format("true type");
    font-display: swap;
}

.title {
    font-family: "Muli-bold";
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    color: #f7ae3b;
    letter-spacing: -0.02em;
}

.text {
    font-family: "Muli-bold";
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}




@import './layout/header';
@import './layout/menu';
@import './personal';
@import './social';
@import './components/button';
@import './smoothies';
@import './about';
@import './products';
@import './story';
@import './testimonials';
@import './blog';
@import './instagram';
@import './footer';
@import './information';
@import './payment';
@import './subscribe';


@import './media';

