* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {outline: none;}
a :focus, a :active {outline: none;}
button {border: none;}

nav,footer,header,aside{display: block;}

body{
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Muli-Regular", monospace;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li{list-style: none;}
a{font-family: inherit; color: inherit; font-size: inherit;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

@font-face {
    font-family: "Muli-bold";
    src: url("../fonts/Muli-Bold.ttf") format("true type");
    font-weight: 700;
    font-display: swap;
} 

@font-face {
    font-family: "Muli-ExtraBold";
    src: url("../fonts/Muli-Bold.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Muli-Italic.ttf";
    src: url("../fonts/Muli-Italic.ttf") format("true type");
    font-display: swap;
}

@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/Muli-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url("../fonts/Muli-Semi-BoldItalic.ttf") format("true type");
    font-display: swap;
}

.btn {
    font-family: "Muli-bold";
    font-weight: 800;
    color: #ffffff;
    border-radius: 30px;
    position: relative;
    font-size: 21px;
}

.title {
    font-family: "Muli-bold";
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    color: #f7ae3b;
    letter-spacing: -0.02em;
}

.text {
    font-family: "Muli-bold";
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
}

.header{
    background-image: url("..//images/header_bg_img.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    overflow: inherit;
}

.header__top {
    padding: 86px 100px 120px;
    position: relative;  
    
} 

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    
}
.menu__list{
    display: flex;
    align-items: center;
}
.menu__list-item{
    color: white;
    margin-right: 35px;
    font-family: "Muli-bold";
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link{
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: white;
}

.header_logo{
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.logo__link{
    
}
.logo__img{

}

.header__right-menu{
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__personal{

} 

.personal__list{
    display: flex;
    align-items: center;
    position: relative;
}

.personal__list::after{
    content: "";
    width: 47px;
    height: 2px;
    background-color: #ffd68f;
    opacity: 0.5;
    position: absolute;
    left: 200px;
    top: 15px;
}

.personal__list-item{
    margin-right: 45px;
}

.personal__list-item:last-child {
    margin-right: 0;
}

.personal__counter{
    background-color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: -12px;
    border-radius: 50%;
}

.social__list{
    display: flex;
    align-items: center;
}
.social__list-item{
    margin-right: 11px;
}

.social__list-item:last-child {
    margin-right: 0;
}

.social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 2.3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}
.social__img{}

.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__btn--green {
    width: 280px;
    height: 70px;
    background-color: #0aa566;;
    font-size: 24px;
    letter-spacing: -0.05em;
    text-align: left;
    padding-left: 36px;
    border: none;
    
}


.header__btn--green::after {
    content: url("..//images/arrow-header.png");
    position: absolute;
    right: 27px;
    top: 24px;
}

.header__title{
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: white;
    font-family: "Muli-bold";
    padding-top: 180px;
} 

.header__btn-burger {
    background-color: #f5ae3f;
}

.header__icon-burger {
    width: 45px;
    height: 45px;
    position: fixed;
    right: 35px;
    top: 85px;

}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}
.smoothies__conteiner {
    margin-bottom: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothies__title {
    
}

.smoothies__text{
    text-align: center;
    max-width: 810px;
    margin: 50px auto 70px;
}

.smoothies__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}



.smoothies__cards {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    flex-basis: 25%;
    border-left: 2px solid #f6edde;
    border-top: 2px solid #f6edde;
}

.smoothies__cards:first-child {
    border-left: none;
}
.smoothies__cards:nth-child(-n+4) {
    border-top: none;
}

.smoothies__cards:nth-child(5) {
    border-left: none;
}

.smoothies__cards:nth-child(n+5) {
    padding-top: 77px;
}

.smoothies__caption{
    font-family: Muli;
    font-size: 25px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f2612d;    
    padding-top: 35px;
    padding-bottom: 30px;
}

.about{
    background-color: #16816f;    
}

.about__wrapper{
    display: flex;
    justify-content: center;
}

.about__box {
    
}



.about__img{
    position: relative;
    top: 62px;
    right: 190px
}

.about__content{
    margin-left: -48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about__title{
    font-family: Muli;
    font-size: 55px;
    line-height: 60px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;  
    max-width: 595px;
    margin-top: -15px;
}

.about__span::after{
    content:url("../images/line.png");
    position: absolute;
    left: -14px;
    top: 26px;
}

.about__span{
    color: #cae941;
    position: relative;
}

.about__list{
    padding: 40px 0 0 38px;
}

.about__item{
    font-family: Muli;
    font-size: 21px;
    line-height: 44px;
    font-weight: 800;
    color: #ffffff;   
    position: relative;
}

.about__item::before{
    content: url("../images/item.png");
    position: absolute;
    left: -37px;
}

.about__item-opacity{
    opacity: 0.5;
    font-weight: 400;
}

.about__btn {
    width: 382px;
    height: 63px;
    border: 2px solid #f8b231;
    line-height: 22px;
    margin-top: 40px;
    padding-left: 30px; 
    background-color: #158270;
    text-align: left;
}

.about__btn::after{
    content: url("../images/arrow.png");
    position: absolute;
    right: 38px;
    top: 21px;
}

.products {
    margin-bottom: 120px;
}

.products__conteiner {
    display: flex;
    background-size: cover;
    align-items: center;
}

.products__card{
    width: 25%;
    display: block;
    text-align: center;
}

.products__card--chocolate {
    background-color: #652a18;
    
}
.products__card--vegan{
    background-color:#188671;
}     

.products__card--lemon{
    background-color:#f5af3b;
}

.products__card--turmeric{
    background-color:#c34819;
}


.products__img{
    padding-top: 110px;
}

.products__title {
    font-family: Muli;
    font-size: 24px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 34px;
    text-align: center;
}

.products__span{
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
}

.products__btn {
    width: 204px;
    height: 60px;
    border: 2px solid #ffffff;
    background-color:transparent;
    line-height: 22px;
    margin: 63px 0 78px 0;
    padding-right: 85px;
}

.products__btn::after{
    position: absolute;
    content: url("../images/arrow-white.png");
    left: 140px;
    top: 20px;
}


.products__span{
    display: block;
}

.story {
    margin-bottom: 158px;
}

.story__conteiner {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.story__box{
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    position: relative;
}

.story__title{
   
    

}

.story__text {
    margin-top: 43px;
    max-width: 452px;
}

.story__btn{
    width: 304px;
    height: 63px;
    background-color: #0aa566;
    font-size: 20px;
    line-height: 22px;
    margin: 46px 12px 0;
    text-align: left;
    padding-left: 30px;
}

.story__btn::after{
    content: url("../images/arrow.png");
    position: absolute;
    right: 39px;
    top: 20px;
}

.story__content{
    position: relative;
    margin-left: 220px;
}

.story__content::before{
    content: url("../images/stamp.png");
    position: absolute;
    left: -161px;
    top: 20px;
}

.story__img{
    margin-left: 1px;
}

.testimonials {
    margin-bottom: 100px;
}

.testimonials__conteiner {
    background-color:#662f1a;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.testimonials__conteiner::after{
    content: url("../images/dots.png");
    position: absolute;
    right: 41px;
    top: -82px;
}

.testimonials__title{
    text-align: center;
    padding-top: 117px;
}

.testimonials__title-span{
    color: #f2612d;
}

.testimonials__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 202px;
    flex-wrap: wrap-reverse;
    position: relative;
}

.testimonials__inner::after{
    content: url("../images/sarah.png");
    position: absolute;
    right: 130px;
    top: -56px;
    z-index: 1;
}

.testimonials__box{
    text-align: center;
    margin: 22px 59px 0 0;
}

.testimonials__citation{
    font-family: Muli;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #ffffff;
    max-width: 480px;
}

.testimonials__user{
    line-height: 45px;
    font-weight: 600;
    font-style: italic;
    color: #f7ae3b;
}

.testimonials__user-icon {
    z-index: 2;
    margin-top: -23px;
}

.testimonials__arrow-left{
    position: relative;
    width: 200px;
    background-color: transparent;
    border: none;
}

.testimonials__arrow-left::before{
    position: absolute;
    content: url("../images/arrow-left.png");
    left: 30px;
    top: -95px;
}

.testimonials__arrow-right{
    position: relative;
    background-color: transparent;
    border: none;
}

.testimonials__arrow-right::after{
    content: url("../images/arrow.png");
    position: absolute;
    right: 14px;
    top: -95px;
}

.blog {
    margin-bottom: 185px;
}

.blog__conteiner {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.blog__inner {
    display: flex;
    align-items: center;
}

.blog__box{

}

.blog__title{
    
}

.blog__img{
    margin-top: 56px;
}

.blog__wrap{
    margin-left: 60px;
}

.blog__subtitle{
    font-family: Muli;
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f2612d;
    position: relative;
    margin-top: 185px;
}

.blog__subtitle::before{
    content: url("../images/line-blog.png");
    position: absolute;
    left: -62px;
    top: -70px;
}

.blog__data{
    font-family: "Muli";
    font-size: 10px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
    display: block;
    margin-bottom: 28px;
}

.blog__text{
    max-width: 415px;
    margin: 0 auto;
}

.blog__link{
    font-weight: 800;
    font-style: italic;
    position: relative;
}

.blog__link::after{
    content: url("../images/arrow-blog.png");
    position: absolute;
    right: -62px;
    bottom: -4px;    
}

.instagram {
    margin-bottom: 10px;
}

.instagram__title{
    font-family: "Muli";
    font-size: 24px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #0aa566;   
    display: flex;
    justify-content: center;
}

.instagram__title::before{
    content: url("../images/insta-green.png");
    position: relative;
    left: -10px;
    top: 5px;
}

.instagram__box{
    display: flex;
    padding-top: 45px;  
}

.instagram__card{
    width: 25%;
    position: relative;
}

.instagram__card::after{
    position: absolute;
    content: url("../images/insta-white.png");
    right: 20px;
    bottom: 5px;
}

.instagram__img{
    width: 100%;
}

.footer {
    background-color:#f7ab3a;
}

.footer__container {
    max-width: 1740px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 0 88px;
}

.footer__logo{
    padding-top: 62px;
}

.footer__information {
    margin-left: 146px;
}

.information__title{
    font-family: Muli;
    font-size: 26px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 30px;
}

.information__list{
    font-family: Muli;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #6d450c;
    list-style: none;
}

.information__link {
    text-decoration: none;
    line-height: 35px;
}

.footer__payment{

}

.payment__title{
    font-family: Muli;
    font-size: 26px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 28px;
}

.payment__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    gap: 20px;
}

.payment__item{
    
}

.footer__subscribe{
    margin-right: -16px;    
}

.subscribe__subtitle{
    font-family: Muli;
    font-size: 26px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 23px;
}

.subscribe__form{
    /*padding-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    
}

.subscribe__registr{
    width: 498px;
    height: 63px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    font-family: Muli;
    font-size: 17px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #6d450c;
    padding: 0 25px 0 65px;
    background-image: url('../images/letter.png');
    background-position: 20px;
    background-repeat: no-repeat;
}

.subscribe__btn{
    display: block;
    font-family: Muli;
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #6d450c;
    margin: 22px 0 0 180px;
    border: none;
    background-color: #f9ad3e;
    position: relative;
}

.subscribe__btn::before{
    position: absolute;
    content: url('../images/arrow-footer.png');
    left: -60px;
    bottom: -6px;
}

.subscribe__list{
    display: flex;
    position: relative;
    left: 331px;
    bottom: 35px;
}

.subscribe__item {
    margin-right: 26px;
}

.subscribe__item:last-child {
    margin-right: 0;
}

.footer__bottom{
    background-color:#6c291d;
    width: 100%;
    height: 60px;   
    text-align: center;
    
}

.footer__samp{
    display: inline-block;
    padding-top: 14px;
    font-family: Muli;
    font-size: 13px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #af8a82;
}


.footer__btn{

}

.footer__btn::after{
    position: fixed;
    content: url("../images/arrow-copy.png");
    width: 51px;
    height: 51px;
    background-color: #f2662f;
    border-radius: 5px;
    padding-top: 15px;
    right: 83px;
    bottom: 37px;
}

@media (max-width: 768px) {
    .header__top {
        display: none;
    }
    
}

@import './style2.scss'

