.header{
    background-image: url("..//images/header_bg_img.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    

    &__top {
        padding: 86px 100px 120px;
        position: relative;  
        
    } 
    
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo{
        position: absolute;
        top: 68px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    &__right-menu{
        width: 420px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    &__btn--green {
        width: 280px;
        height: 70px;
        background-color: $accentColor;
        font-size: 24px;
        letter-spacing: -0.05em;
        text-align: left;
        padding-left: 36px;
        border: none;
        &::after {
            content: " ";
            background: url("../images/arrow-header.png");
            position: absolute;
            right: 25px;
            top: 28px;
            width: 30px;
            height: 16px;
        }

        &:hover {
            background-color:rgb(8, 235, 34);
        }
    }
    
    &__title {
        font-size: 45px;
        line-height: 40px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color: white;
        font-family: "Muli-bold";
        padding-top: 180px;
    } 
    
    &__btn-burger {
        display: none;
    }
    
    &__icon-burger {
        width: 45px;
    }

}




